<?xml version="1.0" encoding="UTF-8"?>
<suite name="Enigma Smoke Tests Execution Report"
	skipfailedinvocationCounts="false" thread-count="100">
	<!-- parameter name="config-file" value="src/test/resources/default.properties" -->
	<test name="AppiumTest" verbose="5">
		<groups>
			<run>
				<include name="Smoke" />
			</run>
		</groups>
		<classes parallel="false" preserve-order="true">
			<class name="com.test.AppiumAutomationTests" />
		</classes>
	</test>
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
</suite>