<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Appium Smoke Tests Execution Report"
	skipfailedinvocationCounts="false" thread-count="100">
	<!-- parameter name="config-file" value="src/test/resources/default.properties" -->
	<test name="ApiDemoTests" verbose="5" enabled="true" junit="true">
		<groups>
			<run>
				<include name="Smoke" />
			</run>
		</groups>
		<classes parallel="false" preserve-order="true">
			<class name="com.test.TestRunCuke" />
		</classes>
	</test>
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
</suite>